@import "compass/css3";

@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Nunito);

$buttonColor: #51ADED;
$formBgColor: #EEF2F6;

@mixin scallop($c) {
  @include background(
    radial-gradient($c, $c 70%, transparent 70%, transparent)
  );
  background-repeat: repeat-x;
  background-size: 20px 20px;
  background-position: 0 15px;
}


html {
   height: 100%;
} 

body {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);

  margin: 0;
  height: 100%;
  width: 100%; 
  background: #EEF2F6 url(https://static.tumblr.com/26l8vc7/q7Glbweh4/bg.jpg);
  font-family: Nunito;
  color: #888;
}

a {
  color: $buttonColor;
}

.fileUpload {
  /*
  &:before, &:after {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    @include scallop($formBgColor);
  }
  &:after {
    top: auto;
    bottom: -20px;
    background-position: 0 -15px;
  }*/
  box-shadow: 0 0 2px rgba(#000, .3);
  background-color: $formBgColor;
  width: 300px;
  padding: 30px;
  h4 {
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0 5px 0;
    padding: 0;
  }
  progress {  
	  appearance: none;
    border: 0;
	  width: 100%; 
    height: 15px;
    color: $buttonColor;
	  background-color: #ccc;
	  border-radius: 10px;
  }
  progress::-moz-progress-bar {
    background-color: $buttonColor;
	  border-radius: 10px;
  }
  progress::-webkit-progress-bar {
	  background-color: #ccc;
	  border-radius: 10px;
  }
  progress::-webkit-progress-value {
	  position: relative;
    background-color: $buttonColor;
	  border-radius:10px;
  }
  p {
    font-size: 80%;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .fileElem {
    @include box-sizing(border-box);
    width: 300px;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
    height: 50px;
    opacity: 0;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  .fileSelect {
    @include box-sizing(border-box);
    display: inline-block;
    text-align: left;
    padding-left: 110px;
    width: 100%;
    height: 50px;
    background-color: $buttonColor;
    border-radius: 3px;
    border-bottom: 3px solid rgba(0,0,0,.1);
    position: relative;
    font-size: 20px;
    line-height: 50px;
    color: white;
    &:before {
      font-family: Entypo;
      content:'\E711';
      position: absolute;
      top: 0;
      left: 80px;
    }
  }
}